<html ng-app="serviceninja">
<head>
  <title>Service Ninjas</title>
  <linke rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
  <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
  <!-- <link href="/stylesdashboard.css" rel="stylesheet"> -->
  <link href="/stylesservice.css" rel="stylesheet">
  <script>
      $(document).ready(function() {
          $('.modal-trigger').leanModal();
          $('select').material_select();
          // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered        
          });
  	  var serviceninja = angular.module('serviceninja', ['ngRoute', 'angularMoment']);

      serviceninja.config(function ($routeProvider) {
          $routeProvider
            .when('/',{
                templateUrl: 'partials/front.html',
                controller: 'loginsController'
            })  
            .when('/login', {
                templateUrl: 'partials/login.html'
            })
            .when('/signup', {
                templateUrl: 'partials/signup.html'
            })
            .when('/dashboard/:id', {
                  templateUrl: 'partials/front.html',
                  controller: 'ApplicationController'
            })
            .when('/howitworks',{
                  templateUrl: 'partials/how-it-works.html'
            })
            .when('/about',{
                  templateUrl: 'partials/about.html'
            })
            .when('/register', {
                templateUrl: 'partials/register.html'
            }) 
            .when('/dashboard', {
                templateUrl: 'partials/dashboard.html'
            })            
             .when('/profile/:id', {
                templateUrl: 'partials/profileView.html'
            })
             .when('/form', {
                templateUrl: 'partials/profileForm.html'
            })
            .when('/message', {
                templateUrl: 'partials/message.html'
            })            
            .when('/services',{
                templateUrl: 'partials/servicePartial.html',
                controller: 'serviceController'    
            })
            .when('/show/:param1',{
                templateUrl: 'partials/showPartial.html',
                controller: 'showController'
            })
            .when('/companies', {
                templateUrl: 'partials/companyPartial.html',
                controller: 'companyDashController'
            })
            .when('/inbox', {
                templateUrl: 'partials/inboxPartial.html',
                controller: 'inboxController'
            })
            .when('/myServices', {
                templateUrl: 'partials/myServicesPartial.html',
                controller: 'myServicesController'
            })                    
            .otherwise({
              redirectTo: '/'
            })
          })
       serviceninja.controller('companyFormController', function($scope, $location, companyFactory){
         $scope.users = [];
         $scope.user = {};
         $scope.new_user = {};
         $scope.addUser = function() {
          companyFactory.create($scope.new_user, function(data) {
               $location.path('/profile/' + data._id);
            $scope.new_user = {};
          }) 
         };
       })
       serviceninja.controller('companyViewController', function($scope, $location, $routeParams, companyFactory){
           $scope.users = [];
           $scope.user = {};
           $scope.new_user = {};
           $scope.currentUser = {};
           var id = $routeParams.id;
           companyFactory.index(function(data) {
            $scope.users = data;
          })
           companyFactory.getUser(id, function(data) {
            console.log(data)
              $scope.currentUser = data; 
          })
         })
         serviceninja.controller('companyEditController', function($scope, $location, companyFactory, $routeParams){

             $scope.currentUser = {};
             $scope.user = {};
             var id = $routeParams.id;

            companyFactory.getUser(id, function(data) {
              console.log(data)
              $scope.currentUser = data; 
            })


         })  

          
      // serviceninja.controller('FrontController', function($scope){
      
      // });
      serviceninja.controller('serviceController', function($scope, serviceFactory, categoryFactory){
        $scope.services = {};
        serviceFactory.index(function(data){
          $scope.services = data;
        })
        categoryFactory.index(function(data){
          $scope.categories = data;
        })
        console.log($scope.services);
      });
      serviceninja.controller('companyDashController', function($scope, serviceFactory, categoryFactory){
        $scope.services = {};
        categoryFactory.index(function(data){
          $scope.categories = data;
        })
        console.log($scope.services);
      });
      serviceninja.controller('inboxController', function($scope, serviceFactory, categoryFactory){
        $scope.services = {};
        categoryFactory.index(function(data){
          $scope.categories = data;
        })
        console.log($scope.services);
      });
      serviceninja.controller('myServicesController', function($scope, serviceFactory, categoryFactory){
        $scope.services = {};
        categoryFactory.index(function(data){
          $scope.categories = data;
        })
        serviceFactory.index(function(data){
          $scope.services = data;
        })
        console.log($scope.services);
      });
      serviceninja.controller('addServiceController', function($scope, serviceFactory, categoryFactory, $location){
        $scope.addService = function(){
          $scope.newService.status = "inactive";
          console.log($scope.newService);
          serviceFactory.create($scope.newService, function(data){
            console.log(data);
          })
          $location.path('/services')
        }
        categoryFactory.index(function(data){
          $scope.categories = data;
        })
      });
      serviceninja.controller('showController', function($scope, serviceFactory, $routeParams, messageFactory){
        $scope.currentService = {};
          serviceFactory.find($routeParams.param1, function(data){
          $scope.currentService = data;
          console.log($scope.currentService);
        })
          $scope.addMessage = function(){
            console.log($scope.newMessage);
            messageFactory.create($scope.newMessage, $routeParams.param1, function(data){
              console.log(data);
            })
          }
  });


         //lances login factories and controllers below:

         serviceninja.factory('loginFactory', function($http, $location){
          var factory = {};
          var currentUser = null;


          factory.getCurrent = function(callback){
            if(currentUser) callback(currentUser);
            else{
              $location.path('/');
            }
          }

          factory.login = function(data, successHandler, failHandler){
            $http.post('/login', data).then(function(res){
              currentUser = res.data;
              console.log(currentUser, "got a current user");
              successHandler(res);
            }, failHandler);
          }

          factory.register = function(data, successHandler, failHandler){
            $http.post('/register', data).then(successHandler, failHandler);
          }

          factory.logout = function(){
            $http.get('/logout').then(function(){
              $location.path('/');
            });
          }

          return factory;
        })

        serviceninja.controller('loginsController', function($scope, loginFactory, $location){
          console.log("in loginsController")
          $scope.login = function(data){
            $scope.flash = {};
            loginFactory.login(data, function(res){
              $location.path('/profile')
            }, function(res){
              $scope.flash.message = res.data.message;
              $scope.loginUser = {}
            })
          }
          $scope.register = function(data){
            $scope.flash = {};
            loginFactory.register(data, function(res){
              $scope.flash.message = res.data.message;
              $scope.newUser = {}
            })
          }
          $scope.logout = loginFactory.logout;

        })


        serviceninja.factory('profileFactory', function($http, loginFactory){
          var factory = {};
          factory.show = function(success, fail){
            $http.get('/profile').then(success, fail)
          }
          return factory;
        })


        serviceninja.controller('profilesController', function($scope, loginFactory, profileFactory, $location){
          loginFactory.getCurrent(function(data){
            $scope.currentUser = data;
          })
          $scope.logout = loginFactory.logout;

          profileFactory.show(function(res){
            $scope.profile = res.data;
          }, function(){
            console.log('something went wrong');
          })
        })



  </script>
</head>
<body>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper cyan darken-4">
      <a href="#/" class="brand-logo grey-text text-lighten-3">Service Ninja</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down cyan darken-4 grey-text text-lighten-3">
        <li><a href="#/">Home</a></li>
        <li><a href="#/services">View All Services</a></li>
        <li><a href="#/companies">View All Companies</a></li>
        <li><a href="#/inbox">Inbox</a></li>
        <li><a href="#/myServices">My Services</a></li>
        <li><button data-target="modal1" class="btn modal-trigger">Login</button></li>
      </ul>
    </div>
  </nav>
</div>
    <div ng-view="">
    </div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.modal-trigger').leanModal();

  });
</script>

<!-- <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">ServiceNinja</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/howitworks">How it works</a></li>
        <li><a href="#modal1" class="modal-trigger1">Login/Register</a></li>
        <li><a href="#/about">About the Company</a></li>
        <button data-target="modal1" class="btn modal-trigger">Login</button>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->
  
  <div id="modal1" class="modal modal-fixed-footer" ng-controller='loginsController'>
    <div class="modal-content">
      <form ng-submit="login(loginUser)">
        <label>Email:
          <input type="text" name="email" ng-model="loginUser.email">
        </label>
        <label>Password:
          <input type="password" name="password" ng-model="loginUser.password">
        </label>
        <input type="submit"></input>
        <button class="modal-action modal-close waves-effect waves-green btn-flat">Login</button>
      </form>
    </div>
</div>    

    <div id="modal2" class="modal modal-fixed-footer" ng-controller='loginsController'>
      <div class="modal-content">
       <form ng-submit="register(newUser)">
        <label>Name:
          <input type="text" name="name" ng-model="newUser.name">
        </label>
        <label>Email:
          <input type="text" name="email" ng-model="newUser.email">
        </label>
        <label>Password:
          <input type="password" name="password" ng-model="newUser.password">
        </label>
        <!-- <input type="submit"></input> -->
        <button class=" modal-action modal-close waves-effect waves-green btn-flat">Register</button>
      </form>
  </div>
</div>

</body>
</html>
