<script>
   $(document).ready(function() {
          $('select').material_select();
          });
</script>
<div class="container">
<div class="serviceForm z-depth-1">
<!-- <div class="row"> -->
	<form ng-submit="addService()">
	<h4 class="cyan-text text-darken-4">Add a new Service Request</h4>
	<div class="input-field col s6">
	    <i class="material-icons prefix">mode_edit</i>
		<input id="title" class="validate" type="text" ng-model="newService.title">
	    <label for="title">Title</label>
	</div>
    <div class="input-field col s12">
      <i class="material-icons prefix">work</i>
      <textarea id="skill" class="materialize-textarea" ng-model="newService.skills"></textarea>
      <label for="skills">Skills/Services your company can provide!</label>
    </div>
    <div class="input-field col s12">
	<h5 class="cyan-text text-darken-4">Service Category</h5>
    <select class="browser-default" ng-model="newService.category" ng-options="category.name as category.name for category in categories">
    <option value="">Choose a Category</option>
    </select>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">chat_bubble_outline</i>
      <textarea id="description" class="materialize-textarea" ng-model="newService.description"></textarea>
      <label for="description">Describe the service you're requesting:</label>
  	</div>
	<div class="input-field col s6">
	    <i class="material-icons prefix">language</i>
		<input id="location" class="validate" type="text" ng-model="newService.location">
	    <label for="location">Location</label>
	</div>
	<button id="create" class="btn btn-default waves-effect waves-green z-depth-2">Create</button>
	</form>
<!-- </div> -->
</div>
</div>