<div class="row">
	<h4 class="blue-text text-darken-2">Add a new Service Request</h4>
	<form ng-submit="addService()" class="col">
	<div class="input-field col s12">
		<input type="text" id="title" class="validate" ng-model="newService.title">
		<label for="title">Title</label>
	</div>
	<p>Skills(will be drop down): <input type="text" ng-model="newService.skills"></p>
	<p>Category(will be drop down):
	  <select ng-model="newService.category" ng-options="category.name as category.name for category in categories">
	  <option value="">Choose a Category</option>
	  </select></p>
	<p>Location: <input type="text" ng-model="newService.location"></p>
	<p>Description: <textarea ng-model="newService.description" rows="4" cols="40"></textarea></p>
	<input type="submit" value="Add New Service">
	</form>
</div>