<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">ServiceNinja</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/howitworks">How it works</a></li>
        <li><a href="#/login">Login/Register</a></li>
        <li><a href="#/about">About the Company</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 <div class='main-page'>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">How can you help?</h1>
      <div class="row center">
        <h5 class="header col s12 light">Trade the skills you have for skills you need</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container ">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">swap_horiz</i></h2>
            <h5 class="center">HERP DERP DERP</h5>

            <p class="light">Herp derpsum derp tee sherpus terp derps. Perp sherlamer sherper derp berps herp le merp. Herpsum derpler berps le, berp derp merp sherlamer herpem. Derpsum ler tee herpy sherlamer. Berps tee nerpy me merp berp ter pee. Sherlamer sherpus nerpy derpsum.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">group</i></h2>
            <h5 class="center">DERP THE HERP</h5>

            <p class="light">Herp derpsum derp tee sherpus terp derps. Perp sherlamer sherper derp berps herp le merp. Herpsum derpler berps le, berp derp merp sherlamer herpem. Derpsum ler tee herpy sherlamer. Berps tee nerpy me merp berp ter pee. Sherlamer sherpus nerpy derpsum.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">thumb_up</i></h2>
            <h5 class="center">AND DERPING THE HERP</h5>

            <p class="light">Herp derpsum derp tee sherpus terp derps. Perp sherlamer sherper derp berps herp le merp. Herpsum derpler berps le, berp derp merp sherlamer herpem. Derpsum ler tee herpy sherlamer. Berps tee nerpy me merp berp ter pee. Sherlamer sherpus nerpy derpsum.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
</div>
  <!-- <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer> -->


