<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Service Ninja</h1>

        <p>Login or Register with:</p>

        <!-- <a href="#/login" class="btn btn-default">Login</a>
        <a href="#/register" class="btn btn-default">Register</a> -->
    </div>
	<!-- <a href="/auth/facebook">Login with Facebook</a>
	<a href="/auth/google">Sign In with Google</a> -->
	<button ng-click='google()'>Sign In with Google</button>
	<button ng-click='facebook()'>Login with Facebook</button>
	{{session.passport.user}}
</div>


