<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">ServiceNinja</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/howitworks">How it works</a></li>
        <li><a href="#/login">Login/Register</a></li>
        <li><a href="#/about">About the Company</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 <div class='main-page'>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Login or Register</h1>
      
      <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="user.name">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="button button-full button-balanced" ng-click="login()">
      Login
    </button>
    <button class="button button-positive button-clear button-full" ui-sref="outside.register">Register now

    </div>
  </div>



