
     <div id="form_container">
            <div class="row">
        <form class="col s12">
          <p class="companies"><strong class="message">From:</strong><a href=""> Coding Dojo</a></p>
          <p class="companies"><strong class="message">To:</strong><a href="">  Yogaworks </a></p>
          <div class="row">
            <div class="input-field col s6">
              <input id="subject" placeholder= "Subject" type="text" class="validate">
              <label for="Subject"></label>
            </div>
          </div>
          <div class="row">
            <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" placeholder="Leave Your Message" class="materialize-textarea"></textarea>
              <label for="textarea1"></label>
            </div>
          </div>
        </form>
      </div>
          </div>
          <button class="btn btn-default" id="message_button">Submit</button>
        </form>
      </div> 
     </div>
