<div ng-controller="companyFormController">

<script>
   $(document).ready(function() {
          $('select').material_select();
          });
</script>



 <div id="profile_form" class="z-depth-4">
            <h3 style="color:green">Create Company Profile</h3>
           <!--  <div class="row"> -->
              <form class="col s12" enctype="multipart/form-data" ng-submit="addUser()">
             <!--  <div class="file-field input-field" id="logo">
                      <div class="btn btn-default waves-effect waves-green z-depth-2" id="img_btn">
                        <span>Logo</span>
                        <input type="file" ngf-select ng-model="img" name="img" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-resize="{width: 100, height: 100}">
                      </div>
                       <img style="width:100px;" ng-show="!!img" ngf-thumbnail="img || '/thumb.jpg'"/>
                  </div> -->
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">business</i>
                    <input ng-model="new_user.name" type="text" class="validate">
                    <label for="name">Company Name</label>
                  </div>
                  <div class="file-field input-field col s6">
                    <input ng-model="new_user.location" type="text" class="validate">
                    <label for="location">Location</label>
                  </div>  
                  <div class="input-field col s12">
                      <i class="material-icons prefix">chat_bubble_outline</i>
                      <textarea ng-model="new_user.logline" class="materialize-textarea"></textarea>
                      <label for="logline">Describe your company in one sentence</label>
                  </div>
                  <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <textarea ng-model="new_user.description" class="materialize-textarea"></textarea>
                      <label for="description">What is your company about? It's your time to shine!</label>
                  </div>
                   <div class="input-field col s12">
                      <i class="material-icons prefix">work</i>
                      <textarea ng-model="new_user.skills" class="materialize-textarea"></textarea>
                      <label for="skills">Skills/Services your company can provide!</label>
                  </div>
                  <div class="input-field col s6">
                    <i class="material-icons prefix">http</i>
                    <textarea ng-model="new_user.url" class="materialize-textarea"></textarea>
                    <label for="url">Link to your Website</label>
                  </div>  
                  <div class="input-field col s12">
                    <p style="color:green">Select Your Company Category</p>
                    <select multiple ng-model="new_user.categories">
                      <option class="Consulting" value="">Consulting</option>
                      <option value="Marketing">Marketing</option>
                      <option value="Web Development">Web Development</option>
                      <option value="Wellness">Wellness</option>
                    </select>
                  </div>
                  <div class="input-field col s12">
                    <h5 id="founder_info">Founder</h5>
                  </div>
                   <div class="input-field col s6">
                      <i class="material-icons prefix">perm_identity</i>
                      <input ng-model="new_user.founder_first" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input ng-model="new_user.founder_last" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>

                      <div class="file-field input-field" id="founder_photo">
                      <div class="btn btn-default waves-effect waves-green z-depth-2" id="img_btn">
                        <span>Photo</span>
                        <input type="file">
                      </div>
                      <!-- <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div> -->
                    </div>
                </div>
                 <button id="create" class="btn btn-default waves-effect waves-green z-depth-2">Create</button>

              </form>
       <!--      </div> -->

       <!-- Penguin Nerd -->

        <div class="container">
          <div class="peng">
            <div class="hair"></div>
            <div class="inside">
              <div class="glasses">
                <div class="left-lens"></div>
                <div class="right-lens"></div>
              </div>
              <div class="eyes">
                <div class="l-eye"></div>
                <div class="r-eye"></div>
              </div>
              <div class="nose"></div>
              <div class="tie"></div>
              <div class="hands">
                <div class="l-hand"></div>
                <div class="r-hand"></div>
              </div>
              <div class="legs">
                <div class="l-leg"></div>
                <div class="r-leg"></div>
              </div>
            </div>
          </div>























         </div>

