<div id="container">
  <div id="left">
  <h3>Search Services</h3>
  <h4>Categories</h4>
  <select ng-model="cat_name" ng-options="category.name as category.name for category in categories">
  <option value="">Choose a Category</option>
  </select>
	<h4>Location</h4>
	<select ng-model="location">
		<option value="">Choose a Location</option>
		<option value="Echo Park">Echo Park</option>
		<option value="Downtown">Downtown</option>
		<option value="Korea Town">Korea Town</option>
	</select>
  <!-- {{categories}} -->
  </div>
  <div id="right">
  <div id="searchBar">Search Services: <input type="text" ng-model="filter_name" placeholder="filter"><input id="add" type="button" onclick="location.href='#/addServices';" value="Add a new Service Request"/></div>
  <table id="serviceTable">
    <thead>
      <tr>
        <td>Created At</td><td>Name</td><td>Service Requested</td><td>Skillz Offered</td><td>Location</td>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="service in services | filter: filter_name | filter: cat_name | filter: location">
   	    <td><time>{{service.created_at | amDateFormat: 'MMMM Do YYYY, h:mm a'}}</time> (<time am-time-ago="service.created_at"></time>)</td>
     	<td>Kevin</td>
     	<td><a href="#/show/{{service._id}}">{{service.title}}</a></td>
     	<td>{{service.skills}}</td>
     	<td>{{service.location}}</td>
    	</tr>
    </tbody>
  </table>
  </div>
</div>